* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --font-color-white: #f1f1f1;
  font-size: 16px;
}

h1 {
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  color: var(--font-color-white);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
  height: 100vh;
  background: linear-gradient(45deg, #333434, #474848);
}
main,
nav,
footer {
  z-index: 2;
}
.noise {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background-image: url(/public/images/noise.png);
  background-size: 200px;
  background-position: center;

  position: absolute;
  left: 0;
  top: 0;
  opacity: 10%;
  mix-blend-mode: overlay;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid black;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-container {
  /* background-color: gray; */
  border: 1px solid gray;
  color: var(--font-color-white);
}

/* Letter */

.unit-frame {
  position: relative;
  /* border: 1px solid rgba(195, 0, 255, 0.888); */
}

.unit-container {
  /* border: 1px solid rgba(255, 0, 0, 0.888); */
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
}

.wheel {
  /* border: 1px solid blue; */
  background: linear-gradient(#111111, #494949, #676159, #101010);
  width: 4%;
  height: 28%;
  margin: 20% 2%;
}

.letter-frame {
  /* border: 1px solid green; */
  height: 96%;
  width: 82%;
  flex-direction: column;
  gap: 3%;
  border-radius: 2%;
}

.lower-flap-container,
.upper-flap-container {
  position: relative;
  width: 100%;
  /* border: 1px solid red; */
}

.upper-flap-container {
  flex: 1.2;
}

.lower-flap-container {
  flex: 1.75;
}

.upper-flap,
.lower-flap {
  position: absolute;
  border-radius: 4px;
  height: 100%;
  width: 100%;
  background-color: cornflowerblue;
  border: 1px solid black;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  font-size: 1200%;
  color: var(--font-color-white);
  overflow: hidden;
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.upper-flap {
  /* background-image: url(/public/images/upper-flap.png);
  background-position: center;
  background-size: 600%; */
  background: linear-gradient(#56585a, #55565b);
  padding-top: 65%;
  box-shadow: inset 0px 2px 3px rgb(0, 0, 0, 0.5);
}

.lower-flap {
  height: 65%;
  /* background-image: url(/public/images/lower-flap.png);
  background-position: center;
  background-size: 800%; */
  background: linear-gradient(#4f4f51, #504f4f);
  padding-bottom: 65%;
}

.flipped-0 {
  z-index: 5;
}

.flipped-1 {
  z-index: 4;
  transform: translateY(8%);
}
.flipped-2 {
  z-index: 3;
  transform: translateY(16%);
}
.flipped-3 {
  z-index: 2;
  transform: translateY(24%);
}
.flipped-4 {
  z-index: 1;
  transform: translateY(32%);
}
.flipped-5 {
  z-index: 0;
  transform: translateY(40%);
}

.lower-flaps-shadow {
  box-shadow: inset 0px -15px 15px rgb(0, 0, 0, 0.5);
  z-index: 100;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.timer-container {
  /* background-color: rgb(131, 131, 162); */
  border: 1px solid gray;
}

.controls-container {
  /* background-color: beige; */
  border: 1px solid gray;
}

footer {
  margin-top: auto;
  border: 1px solid red;
}
