* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --font-color-white: #f1f1f1;
  --animation-duration: 2s;
  font-size: 16px;
}

h1 {
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  color: var(--font-color-white);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
  height: 100vh;
  background: linear-gradient(45deg, #333434, #545555);
}
main,
nav,
footer {
  z-index: 2;
}
.noise {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background-image: url(/public/images/noise.png);
  background-size: 700px;
  background-position: center;

  position: absolute;
  left: 0;
  top: 0;
  opacity: 8%;
  mix-blend-mode: overlay;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid black;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-container {
  /* background-color: gray; */
  border: 1px solid gray;
  color: var(--font-color-white);
}

.separator {
  width: 100%;
  height: 2px;
  background-color: black;
  box-shadow: 0px 2px 1px rgba(255, 255, 255, 0.2);
}

/* Letter */

.unit-frame {
  position: relative;

  /* border: 1px solid rgba(195, 0, 255, 0.888); */
}

.unit-container {
  /* border: 1px solid rgba(255, 0, 0, 0.888); */
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
}

.wheel {
  /* border: 1px solid blue; */
  background: linear-gradient(#111111, #494949, #676159, #101010);
  width: 4%;
  height: 28%;
  margin: 20% 2%;
}

.letter-frame {
  /* border: 1px solid green; */
  height: 96%;
  width: 82%;
  flex-direction: column;
  gap: 3%;
  border-radius: 2%;
  overflow: hidden;
}

.lower-flap-container,
.upper-flap-container {
  position: relative;
  width: 100%;
  /* border: 1px solid red; */
}

.upper-flap-container {
  flex: 1.2;
  /* overflow: hidden; */
  box-shadow: 0px 3px 4px rgb(0, 0, 0, 0.5);
}

.lower-flap-container {
  flex: 1.75;
}

.upper-flap,
.lower-flap {
  position: absolute;
  border-radius: 4px;
  height: 100%;
  width: 100%;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  /* font-size: 1300%; */
  color: var(--font-color-white);
  overflow: hidden;
  /* font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  font-style: normal; */

  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;

  transition-property: all;
  transition-duration: 1s;
}

.upper-flap {
  /* background-image: url(/public/images/upper-flap.png);
  background-position: center;
  background-size: 600%; */
  background: linear-gradient(#56585a, #55565b);
  box-shadow: inset 0px 2px 3px rgb(0, 0, 0, 0.9),
    0px 2px 6px rgba(0, 0, 0, 0.5);
  /* border: 1px solid rgb(76, 76, 76); */
  transform-origin: bottom left;
  text-align: center;
}

.lower-flap {
  height: 65%;
  /* background-image: url(/public/images/lower-flap.png);
  background-position: center;
  background-size: 800%; */
  background: linear-gradient(#4f4f51, #504f4f);
  text-align: center;
  transform-origin: top left;
}

.lower-flap div {
  transform: translateY(-48%);
}

.upper-flap div {
  transform: translateY(-8%);
}

.flipped-0 {
  z-index: 5;
  /* border: 1px solid red; */
}

.flipped-1 {
  z-index: 4;
  transform: translateY(14%);
  filter: brightness(90%);
}
.flipped-2 {
  z-index: 3;
  transform: translateY(24%);
  filter: brightness(80%);
}
.flipped-3 {
  z-index: 2;
  transform: translateY(34%);
  filter: brightness(70%);
}
.flipped-4 {
  z-index: 1;
  transform: translateY(44%);
  filter: brightness(60%);
}
.flipped-5 {
  z-index: 0;
  transform: translateY(54%);
  filter: brightness(50%);
}

.lower-flaps-shadow {
  box-shadow: inset 0px -15px 15px rgb(0, 0, 0, 0.5);
  z-index: 100;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
/* Letter animation */
.upper-flap-flip {
  animation: upper-flap-flip;
  animation-timing-function: linear;
}

.upper-flap-flip-next {
  animation: upper-flap-flip-next;
  animation-timing-function: linear;
}

.lower-flap-flip {
  animation: lower-flap-flip;
  animation-timing-function: linear;
}

.lower-flap-flip-back {
  animation: lower-flap-flip-back;
  animation-timing-function: linear;
  height: 100%;
  width: 100%;
}

.lower-flap-flip-next {
  animation: lower-flap-flip-next;
  animation-timing-function: linear;
  z-index: 6;
}

.wheel-flip {
  animation: wheel;
  animation-timing-function: linear;
}

@media screen and (max-width: 100px) {
  .upper-flap-flip {
    animation: upper-flap-flip-light;
    animation-timing-function: linear;
  }
  .lower-flap-flip-next {
    animation: lower-flap-flip-next-light;
    animation-timing-function: linear;
    z-index: 6;
  }
  .wheel-flip {
    animation: wheel-light;
    animation-timing-function: linear;
  }
}

@keyframes upper-flap-flip {
  5% {
    transform: rotateX(0deg);
  }
  50%,
  100% {
    box-shadow: none;
    transform: rotateX(-90deg);
    translate: 0px 15%;
    filter: brightness(20%) blur(13px);
  }
}

@keyframes upper-flap-flip-light {
  5% {
    transform: rotateX(0deg);
  }
  50%,
  100% {
    transform: rotateX(-90deg);
    translate: 0px 15%;
  }
}

@keyframes upper-flap-flip-next {
  0% {
    translate: 0px -15%;
  }
  50%,
  100% {
    translate: 0px 0%;
  }
}

@keyframes lower-flap-flip {
  50%,
  100% {
    transform: translateY(14%);
  }
}

@keyframes lower-flap-flip-back {
  50%,
  100% {
    transform: translateY(7%);
  }
}

@keyframes lower-flap-flip-next {
  0%,
  50% {
    display: none;
    transform: rotateX(90deg);
    box-shadow: 0px 50px 20px rgb(0, 0, 0, 0.9);
    filter: brightness(200%) blur(13px);
  }
  100% {
    transform: rotateX(0deg);
  }
}

@keyframes lower-flap-flip-next-light {
  0%,
  50% {
    display: none;
    /* transform: rotate3d(1, 0, 0, 83deg); */
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
    /* transform: rotate3d(1, 0, 0, 0deg); */
  }
}

@keyframes wheel {
  0%,
  50% {
    transform: translateX(5%);
    filter: brightness(95%);
  }
  100% {
  }
}

@keyframes wheel-light {
  0%,
  50% {
    transform: translateX(5%);
  }
  100% {
  }
}

/* Timer */

.timer-container {
  /* background-color: rgb(131, 131, 162); */
  border: 1px solid gray;
}

.controls-container {
  /* background-color: beige; */
  border: 1px solid gray;
}

footer {
  margin-top: auto;
  border: 1px solid red;
}
