.padding-xlarge {
  padding: 64px;
}

.padding-large {
  padding: 24px;
}

.padding-medium {
  padding: 18px;
}

.padding-small {
  padding: 8px;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}
